
body{
  margin: 0;
  padding: 0;
  font: 1em/1.4em sans-serif;
  color: #353535;
}

a{
  text-decoration: none;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Внешний вид меню */

.side{
  width: 200px;
  margin: 20px;
}

.menu a{
  background: #3d3d3d;
  color: #fff;
  padding: 10px;
  display: block;
  border-bottom: 1px solid #666;
  transition: .3s all;
}

.menu a:hover{
  background: #666;
  padding-left: 20px;
}

.menu li:first-child a,
.menu li .menu__drop li:first-child a{
  border-radius: 5px 5px 0 0;
}

.menu li:last-child a,
.menu li .menu__drop li:last-child a{
  border-radius: 0 0 5px 5px;
  border-bottom: 0;
}

.menu li .menu__drop li a{
  border-radius: 0;
  border-bottom: 1px solid #666;
}

/* Всплывающие подпункты меню */

.menu__list{
  position: relative;
}

.menu__drop{
  position: absolute;
  width: 100%;
  left: 100%;
  top: 0;
  visibility: hidden;
  border-left: 10px solid transparent;
  transition: .2s opacity;
  opacity: 0;
}

.menu__list:hover .menu__drop{
  visibility: visible;
  opacity: 1;
}

/* Стрелочки на пунктах меню */

.menu__list::after{
  content: "";
  position: absolute;
  border: 5px solid;
  border-color: transparent transparent transparent #eee;
  top: 1em;
  right: .7em;
  transition: .3s;
}

.menu__list:hover::after{
  transform: scaleX(-1);
}