*{
	box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font: 1em/1.4em sans-serif;
  color: #353535;
  background: #34495e;
}

a{
  text-decoration: none;
}

/* Общий блок */

.nav{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 300px;
	background: #333;
	border-radius: 8px;
	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow: hidden;
}

/* Элементы и ссылки первого уровня */

.nav__item{
	display: block;
	border-top: 1px solid #2980b9;
	margin: 0;
	padding: 0;
	background: #3498db;
	overflow: hidden;
}

.nav__item-link{
	color: #fff;
	display: block;
	position: relative;
	padding: 16px 20px;
}

.nav__item-link::before{
	content: "";
	width: 14px;
	height: 14px;
	background: #3498db;
	position: absolute;
	left: 20px;
	bottom: -7px;
	transform: rotate(45deg);
}

.nav__item-link i{
	margin-right: 10px;
}

/* Блок второго уровня */

.nav__submenu{
	background: #333;
	overflow: hidden;
	max-height: 0;
	transition: max-height .5s;
}

.nav__submenu:target{
	max-height: 11rem;
}

/* Ссылки второго уровня */

.nav__submenu-link{
	display: block;
	padding: 18px 26px;
	color: #fff;
	font-size: .9em;
	transition: .2s ease-in all;
}

.nav__submenu-link:hover{
	background: #4d4d4d;
	padding-left: 35px;
}
